{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--? Hero Start -->
<div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 pt-70 text-center">
                        <h2>Book Service</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!--?  Contact Area start  -->
<div class="container" style="margin-top: 50px;">
    <div class="row justify-content-center" style="margin: 20px;">
        <div class="col-12 text-center">
            <h2 class="contact-title">Book here</h2>
        </div>
        <div class="col-lg-6">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
            <form class="form-contact contact_form" action="{% url 'book_service' %}" method="post" id="bookServiceForm" novalidate="novalidate">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="category" class="d-block">Category</label>
                            <select style="width: 100%;" class="form-control" name="category" id="category">
                                <option value="" disabled selected>Select a category</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-12" style="margin-top: 25px;">
                        <div class="form-group">
                            <label for="service" class="d-block">Service</label>
                            <select class="form-control" name="service" id="service">
                                <option value="" disabled selected>Select a service</option>
                                {% for service in services %}
                                    <option value="{{ service.id }}">{{ service.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-12" style="margin-top: 30px;">
                        <div class="form-group">
                            <label for="staff" class="d-block">Staff Member</label>
                            <select class="form-control" name="staff" id="staff">
                                <option value="" disabled selected>Select a staff member</option>
                                {% for staff in staffs %}
                                    <option value="{{ staff.id }}">{{ staff.user.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-12" style="margin-top: 30px;">
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input class="form-control" name="date" id="date" type="date">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="time">Time</label>
                            <input class="form-control" name="time" id="time" type="time">
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3 text-center">
                    <button type="submit" class="button button-contactForm boxed-btn">Book Service</button>
                </div>
            </form>
        </div>         
    </div>
</div>

{% endblock %}


<script>
    document.getElementById('category').addEventListener('onchange', function() {
        console.log('Category changed');
        var categoryId = this.value;
        fetch('/get_services_by_category/' + categoryId + '/')
            .then(response => response.json())
            .then(data => {
                var serviceSelect = document.getElementById('service');
                serviceSelect.innerHTML = '<option value="" disabled selected>Select a service</option>';
                data.services.forEach(service => {
                    var option = document.createElement('option');
                    option.value = service.id;
                    option.textContent = service.name;
                    serviceSelect.appendChild(option);
                });
            });
    });
</script>
