{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>  Luxe-lyf</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="manifest" href="{% static 'site.webmanifest' %}"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <style>
        /*/* body {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;

          background-color: #f0f0f0; /* Mimics a soft wall color */
    
        .luxelyf {
          font-family: 'Playfair Display', serif; /* Luxurious Italian-style font */
          font-weight: 700;
          font-style: italic;
          font-size: 40px; /* Large font size for visibility */
          color: #d9d9d9; /* Light gray inner text */
          text-shadow: 
            0 0 5px #ffd700, /* Gold inner glow */
            0 0 15px #ffd700, 
            0 0 30px #ffae42, /* Brighter outer glow for neon effect */
            0 0 50px #ffae42;
        }
        .bottom-text {
            margin-top: 0px;
            color: #5A4F41;
        }

        /* .bottom-text a {
            color: #C19750;
            text-decoration: none;
            font-weight: 500;
        } */

        .bottom-text a:hover {
            text-decoration: underline;
        }
      </style>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap" rel="stylesheet">
        <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <div class="header-area header-transparent pt-20">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <!-- <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a> -->
                                <li>  <a class="luxelyf" href="{% url 'index' %}">Luxe-lyf</a></li>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li class="active"><a href="{% url 'index' %}">Home</a></li>
                                            
                                            <li><a href="#">About Us</a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'about' %}">About</a></li>
                                                    <li><a href="{% url 'services' %}">Services</a></li>
                                                    <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'blogs' %}">Blog</a></li>
                                            <li><a href="{% url 'contact' %}">Contact</a></li>
                                            {% if user.is_authenticated %}
                                                <li><a href="#">Me</a>
                                                    <ul class="submenu">
                                                        <li><a href="{% url 'my_profile' %}">Profile</a></li>
                                                        <li><a href="{% url 'booking_history' %}">Bookings</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                            {% else %}
                                                <li><a href="{% url 'login' %}">Login</a></li>
                                                <li><a href="{% url 'register' %}">Signup</a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Appointment Button -->
                                <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'book_service' %}" class="btn header-btn">Make an Appointment Now</a>
                                    {% else %}
                                        <a href="{% url 'login_with_otp' %}" class="btn header-btn">Make an Appointment Now</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>  
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

<!--? Hero Start -->
<div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 pt-70 text-center">
                        <h2>Book Service</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!--?  Contact Area start  -->
<div class="container" style="margin-top: 50px;">
    <div class="row justify-content-center" style="margin: 20px;">
        <div class="col-12 text-center">
            <h2 class="contact-title">Book here</h2>
        </div>
        <div class="col-lg-6">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
            <form class="form-contact contact_form" action="{% url 'book_service' %}" method="post" id="bookServiceForm" novalidate="novalidate">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="category" class="d-block">Category <span class="text-danger">*</span></label>
                            <select style="width: 100%;" class="form-control" name="category" id="category">
                                <option value="" disabled selected>Select a category</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-12" style="margin-top: 25px;">
                        <div class="form-group">
                            <label for="service" class="d-block">Service <span class="text-danger">*</span></label>
                            <select class="form-control" name="service" id="service">
                                <option value="" disabled selected>Select a service</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12" style="margin-top: 30px;">
                        <div class="form-group">
                            <label for="staff" class="d-block">Staff Member</label>
                            <select class="form-control" name="staff" id="staff">
                                <option value="" disabled selected>Select a staff member</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12" style="margin-top: 30px;">
                        <div class="form-group">
                            <label for="date">Date <span class="text-danger">*</span></label>
                            <input class="form-control" name="date" id="date" type="date" required>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="time">Time <span class="text-danger">*</span></label>
                            <input class="form-control" name="time" id="time" type="time" required>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3 text-center">
                    <button type="submit" class="button button-contactForm boxed-btn">Book Service</button>
                </div>
                <div class="form-group text-center">
                    <p class="bottom-text btn btn-sm"><a href="{% url 'booking_history' %}">Booking History</a></p>
                </div></div>
            </form>
        </div>         
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- Script to render staff dropdown starts -->
<script>

    document.addEventListener('DOMContentLoaded', function () {
        let categoryDropdown = document.getElementById('category'); // Use your actual class name
        // let serviceDropdown = document.getElementById('service');
        console.log(categoryDropdown)
        // console.log(serviceDropdown)
        
        if (categoryDropdown) {
            categoryDropdown.addEventListener('change', function () {
                var category_id = $(this).val();
                console.log('category id:', category_id)

                if (category_id) {
                    $.ajax({
                        url: "{% url 'get_services_by_category' %}",
                        data: { category_id: category_id },
                        dataType: "json",
                        success: function (data) {
                            console.log('Data-------', data)
                            let serviceDropdown = $('#service');  
                            serviceDropdown.empty();
                            serviceDropdown.append('<option value="" disabled selected>Select a service</option>');
                           
                            $.each(data.services, function (index, service) {
                                console.log('Service data---', service)
                                console.log('Appending:', service.id, service.name);
                                serviceDropdown.append('<option value="' + service.id + '">' + service.name + '</option>');
                            });
                        }
                    });
                }
            });
        } else {
            console.log('Category dropdown not found');
        }
    });
</script>
<!-- Script to render service dropdown ends -->

<!-- Script to render staff dropdown starts -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let serviceDropdown = document.getElementById('service'); // Use your actual class name

        console.log(serviceDropdown)
        
        if (serviceDropdown) {
            serviceDropdown.addEventListener('change', function () {
                var service_id = $(this).val();
                console.log('service id:', service_id)

                if (service_id) {
                    $.ajax({
                        url: "{% url 'get_staff_by_services' %}",
                        data: { service_id: service_id },
                        dataType: "json",
                        success: function (data) {
                            console.log('Data-------', data)
                            let staffDropdown = $('#staff');  
                            staffDropdown.empty();
                            staffDropdown.append('<option value="" disabled selected>Select a staff</option>');
                           
                            $.each(data.staffs, function (index, staff) {
                                console.log('Service data---', staff)
                                console.log('Appending:', staff.id, staff.name);
                                staffDropdown.append('<option value="' + staff.id + '">' + staff.name + '</option>');
                            });
                        }
                    });
                }
            });
        } else {
            console.log('Category dropdown not found');
        }
    });
</script>
<!-- Script to render staff dropdown ends -->

   <!-- JS here -->

   <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
   <!-- Jquery, Popper, Bootstrap -->
   <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
   <script src="{% static 'assets/js/popper.min.js' %}"></script>
   <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
   <!-- Jquery Mobile Menu -->
   <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

   <!-- Jquery Slick , Owl-Carousel Plugins -->
   <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
   <script src="{% static 'assets/js/slick.min.js' %}"></script>
   <!-- One Page, Animated-HeadLin -->
   <script src="{% static 'assets/js/wow.min.js' %}"></script>
   <script src="{% static 'assets/js/animated.headline.js' %}"></script>
   <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

   <!-- Date Picker -->
   <script src="{% static 'assets/js/gijgo.min.js' %}"></script>
   <!-- Nice-select, sticky -->
   <!-- <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script> -->
   <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
   
   <!-- counter , waypoint,Hover Direction -->
   <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
   <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
   <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
   <script src="{% static 'assets/js/hover-direction-snake.min.js' %}"></script>

   <!-- contact js -->
   <!-- <script src="{% static 'assets/js/contact.js' %}"></script> -->
   <script src="{% static 'assets/js/jquery.form.js' %}"></script>
   <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
   <script src="{% static 'assets/js/mail-script.js' %}"></script>
   <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
   
   <!-- Jquery Plugins, main Jquery -->	
   <script src="{% static 'assets/js/plugins.js' %}"></script>
   <script src="{% static 'assets/js/main.js' %}"></script>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
   
   </body>
</html>