{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <!--? Hero Start -->
    <div class="slider-area2">
       <div class="slider-height2 d-flex align-items-center">
             <div class="container">
                <div class="row">
                   <div class="col-xl-12">
                         <div class="hero-cap hero-cap2 pt-70 text-center">
                            <h2>Blog Details</h2>
                         </div>
                   </div>
                </div>
             </div>
       </div>
    </div>
    <!-- Hero End -->
    <!--? Blog Area Start -->
    <section class="blog_area single-post-area section-padding">
       <div class="container">
          <div class="row">
             <div class="col-lg-8 posts-list">
                <div class="single-post">
                   <div class="feature-img">
                      <img class="img-fluid" src="{{ blog.image.url }}" alt="">
                   </div>
                   <div class="blog_details">
                      <h2 style="color: #2d2d2d;">{{ blog.title }}</h2>
                      <ul class="blog-info-link mt-3 mb-4">
                          <li><a href="#"><i class="fa-regular fa-calendar-days"></i> {{ blog.date }}</a></li>
                          <li><a href="#"><i class="fa fa-user"></i> {{ blog.author }}</a></li>
                      </ul>
                      <p class="excert">
                        {{ blog.description }}
                      </p>
                    </div>
                    <div class="blog_details">
                        <h2 style="color: #2d2d2d;">{{ blog.title }}</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="fa-regular fa-calendar-days"></i> {{ blog.date }}</a></li>
                            <li><a href="#"><i class="fa fa-user"></i> {{ blog.author }}</a></li>
                        </ul>
                      </div>
              
             
          </div>
       </div>
    </section>
    <!-- Blog Area End -->
 </main>

{% endblock %}