{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70 text-center">
                            <h2>Our Services</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Services Area Start -->
    <section class="service-area section-padding30">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-11 col-sm-11">
                    <div class="section-tittle text-center mb-90">
                        <span>Professional Services</span>
                        <h2>Our Best services that  we offering to you</h2>
                    </div>
                </div>
            </div>
            <!-- Section caption -->
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-caption text-center mb-30">
                        <div class="service-icon">
                            <img src="{% static 'assets/img/gallery/hair1.png' %}" alt="" style="max-width: 50%; max-height: 300px;">

                        </div> 
                        <div class="service-cap">
                            <h4><a href="#">Hair Services</a></h4>
                            <p>Haircuts, Hair Wash and Blow-dry, Hair Styling,Hair Coloring , Hair Treatments.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-caption active text-center mb-30">
                        <div class="service-icon">
                            <img src="{% static 'assets/img/gallery/beauty-treatment.png' %}" alt="" style="max-width: 50%; max-height: 300px;">

                        </div> 
                        <div class="service-cap">
                            <h4><a href="#">Skin</a></h4>
                            <p>Facials , Face Bleaching, Threading Skin Polishing and Exfoliation Treatments.</p>
                        </div>
                    </div>
                </div> 
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-caption text-center mb-30">
                        <div class="service-icon">
                            <img src="{% static 'assets/img/gallery/makeup.png' %}" alt="" style="max-width: 50%; max-height: 300px;">

                        </div> 
                        <div class="service-cap">
                            <h4><a href="#"> Makeup </a></h4>
                            <p>Contouring, High-definition Makeup, and Full-face Application for Special Occasions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-caption active text-center mb-30">
                        <div class="service-icon">
                            <img src="{% static 'assets/img/gallery/man.png' %}" alt="" style="max-width: 50%; max-height: 300px;">
                        </div> 
                        <div class="service-cap">
                            <h4><a href="#">Beard Styling</a></h4>
                            <p>Expert grooming and shaping of your beard to suit your face shape and style. We offer trims, beard conditioning, and hydration for a sharp, well-maintained look.</p>
                        </div>
                    </div>
                </div> 
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-caption text-center mb-30">
                        <div class="service-icon">
                            <img src="{% static 'assets/img/gallery/couple.png' %}" alt="" style="max-width: 50%; max-height: 300px;">

                        </div> 
                        <div class="service-cap">
                            <h4><a href="#">Bridal and Groom Services</a></h4>
                            <p>Tailored hair and makeup for brides and grooms, ensuring a flawless look. We offer elegant hairstyles, 
                                flawless makeup, and skincare treatments to make you feel confident and stunning.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-caption text-center mb-30">
                        <div class="service-icon">
                            <img src="{% static 'assets/img/gallery/hair-cutting.png' %}" alt="" style="max-width: 50%; max-height: 300px;">

                        </div> 
                        <div class="service-cap">
                            <h4><a href="#">Creative Hair Cuts</a></h4>
                            <p>Our stylists craft innovative looks, blending modern trends with classic styles for a fresh, personalized appearance.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Area End -->
</main>

{% endblock %}